@import 'src/assets/stylesheets/variables';

.form-signup-company {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// width: 766px;
	text-align: center;
	&__title {
		margin-bottom: 2rem;
	}
	span {
		span {
			color: $blue;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
				color: $blue;
			}
		}
	}
}
