@import 'src/assets/stylesheets/variables';

.button-transparent-arrow-down {
	box-shadow: none !important;
	margin: 0 !important;
	background: transparent !important;
	color: $blue !important;
	padding: 1rem 2rem !important;
	width: fit-content;
	letter-spacing: 1.5px;
	height: fit-content;
	font-size: 1rem!important;
	.icon:not(.button) {
		opacity: 1 !important;
	}
}
