@import 'src/assets/styles/colors';

.single-service {
	.icon-service {
		padding-right:1.25rem;
	}
	.content {
		width: calc(100% - 90px);
		.title {
			color: $blue-black;
			font-weight: 700;
			margin-bottom: 1.25rem !important;
			font-size: 1.25rem !important;
		}
		.description {
			color: #767676;
			font-size: 1.25rem;
			line-height: 2.25rem;
		}
	}
}