@import 'src/assets/stylesheets/variables';
@import 'src/assets/stylesheets/mixins';
.area-category-trainer {
	padding: 90px 120px;
	color: $blue-black;
	@include responsive(small-tablet) {
		padding: 60px 70px;
	}
	@include responsive(mobile) {
		padding: 40px 30px;
	}
	&__title {
		letter-spacing: 1.5px;
		font-weight: 700;
		font-size: 1.375rem;
		margin-bottom: 2.5rem;
		color: $blue-black;
		@include responsive(small-mobile) {
			font-size: 1.25rem;
		}
	}
}

