@import 'src/assets/stylesheets/variables';

.area-quote {
	padding: 90px 100px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
	&__quote {
		width: 65%;
		&__title {
			font-size: 3rem;
			font-weight: 700;
			margin-bottom: 2rem;
		}
		&__content {
			font-size: 1.5rem;
			margin-bottom: 2.75rem;
		}
		&__author,
		&__position {
			font-size: 1.125rem;
			font-weight: 700;
		}
		&__logo-school {
			width: 125px;
		}
	}
}

@media screen and (max-width: 768px) {
	.area-quote {
		padding: 60px 70px;
		&__quote {
			width: 100%;
		}
	}
}

@media screen and (max-width: 576px) {
	.area-quote {
		padding: 40px 30px;
		&__quote {
			&__title {
				font-size: 2.75rem;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.area-quote {
		&__quote {
			&__title {
				font-size: 2rem;
			}
			&__content {
				font-size: 1.25rem;
			}
			&__author,
			&__position {
				font-size: 1em;
			}
		}
	}
}
