@import 'src/assets/styles/variables';

.single-category-trainer {
	.p-1 {
		padding-right: 1.25rem;
	}
	padding: 2rem 1.5em;
	align-content: space-between;
	.content {
		margin-bottom: 1.5rem;
		width: calc(100% - 90px);
		.title {
			color: $blue-black;
			font-weight: 700;
			margin-bottom: 1.25rem !important;
			font-size: 1.25rem !important;
		}
		.description {
			color: #767676;
			font-size: 1.25rem;
			line-height: 1.75rem;
		}
	}
}

@media screen and (max-width: 576px) {
	.single-category-trainer {
		.content {
			width: calc(100% * 9 / 12);
		}
	}
}

@media screen and (max-width: 320px) {
	.single-category-trainer {
		padding: 1.5rem 0;
		.p-1 {
			// padding: 0 0 10px 0;
		}
		.content {
			// width: 100%;
		}
	}
}
