@import 'src/assets/stylesheets/variables';

.area-welcome {
	height: 100vh;
	padding: 40px;
	background-size: cover;
	display: flex;
	&__content {
		margin: auto 0;
		width: 50%;
		color: $white;
		padding-left: 3.5rem;
		&__title {
			font-size: 3rem;
			letter-spacing: -1px;
			font-weight: 700;
			line-height: 1.375;
		}
		&__subscription {
			font-size: 1.5rem;
			margin-bottom: 3.5rem;
		}
	}
}

@media screen and (max-width: 1200px) {
	.area-welcome {
		&__content {
			width: 65%;
		}
	}
}

@media screen and (max-width: 768px) {
	.area-welcome {
		&__content {
			width: 70%;
		}
	}
}

@media screen and (max-width: 576px) {
	.area-welcome {
		&__content {
			width: 100%;
			padding-left: 0rem;
			&--title {
				font-size: 2.75rem;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.area-welcome {
		&--content {
			&--title {
				font-size: 2rem;
			}
			&--subscription {
				font-size: 1.25rem;
			}
		}
	}
}
