@import 'src/assets/stylesheets/variables';
@import 'src/assets/stylesheets/mixins';

.modal-update-avatar {
	position: absolute;
	top: 7.375rem;
	left: 50%;
	display: flex;
	flex-direction: column;
	transform: translate(-50%, 15%);
	background: $white;
	justify-content: center;
	padding: 3.5rem 1.5rem;
	border-radius: 4px;
	align-items: center;
	box-shadow: 0 0 7px 1px #9b9b9b;
	@include responsive(tablet) {
		top: 5.5rem;
	}
	img {
		width: 180px;
		height: 180px;
		margin-bottom: 2rem;
	}
}
