@import 'src/assets/styles/variables';

.button-arrow-right {
	box-shadow: 0 0 0 1px $blue inset !important;
	margin: 0 !important;
	background: $blue !important;
	color: $white !important;
	padding: 1.25rem 2.25rem !important;
	width: fit-content;
	letter-spacing: 1px;
	.icon:not(.button) {
		opacity: 1 !important;
	}
	&:hover {
		background: #fff !important;
		color: $blue-black !important;
		box-shadow: 0 0 0 1px $white inset !important;
	}
}
