@import 'src/assets/stylesheets/variables';

.single-service {
	&__icon {
		padding-right: 1.25rem;
	}
	&__content {
		width: calc(100% - 90px);
		&__title {
			color: $blue-black;
			font-weight: 700;
			margin-bottom: 1.25rem !important;
			font-size: 1.25rem !important;
		}
		&__description {
			color: #767676;
			font-size: 1.25rem;
			line-height: 2.25rem;
		}
	}
}

@media screen and (max-width: 320px) {
	.single-service {
		&__content {
			&__title {
				font-size: 1.125rem !important;
				margin-bottom: 1rem !important;
			}
			&__description {
				font-size: 1.125rem;
				line-height: 2rem;
			}
		}
	}
}
