@import 'src/assets/styles/colors';

.area-partner {
	padding: 40px 100px;
	.title-area {
		color: $blue-black;
		font-size: 1.25rem;
		font-weight: 700;
		margin-bottom: 3rem;
	}
	img {
		width: 100px;
		padding: .5rem;
	}
	.justify-content-space-between {
		justify-content: space-between;
	}
}

@media screen and (max-width: 576px) {
	.area-partner {
		padding: 40px 30px;
	}
}
