@import 'src/assets/stylesheets/variables';
@import 'src/assets/stylesheets/mixins';

.blog-category-page {
	&__title-list-article {
		font-size: 1.25rem;
		font-weight: 700;
		margin-top: 6rem;
		margin-bottom: 2rem;
	}
	&__list-article {
		display: flex;
		flex-wrap: wrap;
		width: 80%;
		margin: auto;
		margin-bottom: 1rem;
	}
}
