@import 'src/assets/styles/colors';

.footer-page {
	background: $blue-black;
	padding: 50px 100px;
	.margin-b-2 {
		margin-bottom: 2rem;
	}
	.title {
		font-size: 1.25rem;
		color: $white;
		font-weight: 700;
	}
	.list {
		font-size: 1.125rem;
		list-style: none;
		padding: 0;
		li {
			margin-top: 8px;
		}
		a {
			color: $gray;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.footer-rights {
		font-size: 1rem;
		color: $gray;
	}
	.footer-location {
		padding: 0;
		list-style: pointer;
		color: $gray;
		font-size: 0.975rem;
		flex-wrap: wrap;
		li:first-child {
			list-style: none;
			margin-left: 0;
			span {
				margin-left: 0;
			}
		}
		li {
			margin-left: 15px;
			margin-right: 6px;
			span {
				margin-left: -5px;
			}
		}
	}
	.footer-content {
		color: $gray;
		font-size: 0.975rem;
	}
}

@media screen and (max-width: 992px) {
	.footer-page {
		padding: 40px 70px;
		.logo-company {
			margin-bottom: 1.75rem;
		}
	}
}
@media screen and (max-width: 576px) {
	.footer-page {
		padding: 40px 50px;
		.footer__company,
		.footer__product {
			margin-bottom: 0.75rem;
		}
	}
}
