@import 'src/assets/stylesheets/variables';

.form-signin {
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 600px;
	text-align: center;
	&__title {
		margin-bottom: 2rem;
	}
	a {
		color: $blue;
		&:hover {
			text-decoration: underline;
			color: $blue;
		}
	}
}
