@import 'src/assets/stylesheets/variables';

.footer-page {
	background: $blue-black;
	padding: 50px 100px;
	&__company,
	&__product,
	&__social {
		&__title {
			font-size: 1.25rem;
			color: $white;
			font-weight: 700;
		}
		&__list {
			font-size: 1.125rem;
			list-style: none;
			padding: 0;
			li {
				margin-top: 8px;
			}
			a {
				color: $gray;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&__rights {
		font-size: 1rem;
		color: $gray;
	}
	&__location {
		padding: 0;
		list-style: pointer;
		color: $gray;
		font-size: 0.975rem;
		flex-wrap: wrap;
		li:first-child {
			list-style: none;
			margin-left: 0;
			span {
				margin-left: 0;
			}
		}
		li {
			margin-left: 15px;
			margin-right: 6px;
			span {
				margin-left: -5px;
			}
		}
	}
	&__content {
		color: $gray;
		font-size: 0.975rem;
	}
}

@media screen and (max-width: 992px) {
	.footer-page {
		padding: 40px 70px;
		&__logo {
			margin-bottom: 1.75rem;
		}
	}
}
@media screen and (max-width: 576px) {
	.footer-page {
		padding: 40px 30px;
		&_company,
		&__product {
			margin-bottom: 0.75rem;
		}
	}
}
@media screen and (max-width: 320px) {
	.footer-page {
		&__company,
		&__product,
		&__social {
			&__list {
				font-size: 1rem;
			}
		}
	}
}
