@import 'src/assets/stylesheets/variables';

.area-service {
	padding: 90px 100px;
	color: $blue-black;
	background: $blue-white;
	&__title {
		padding: 0 200px;
		letter-spacing: 1.5px;
		font-size: 1.5rem;
		margin-bottom: 3.5rem;
	}
}

@media screen and (max-width: 1200px) {
	.area-service {
		&__title {
			padding: 0 5rem;
		}
		&__list-service {
			.single-service:first-child,
			.single-service:nth-child(2) {
				margin-bottom: 2.5rem;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.area-service {
		padding: 60px 70px;
		&__list-service {
			.single-service {
				margin-bottom: 2.5rem;
			}
			.single-service:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.area-service {
		padding: 40px 30px;
		&__title {
			padding: 0;
		}
		&__list-service {
			.single-service:first-child,
			.single-service:nth-child(2) {
				margin-bottom: 2rem;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.area-service {
		&__title {
			font-size: 1.25rem;
		}
	}
}
