.mr-b-1 {
	margin-bottom: 1rem;
}
.mr-t-1 {
	margin-top: 1rem;
}
.mr-t-5 {
	margin-top: 5rem;
}
.mr-b-2 {
	margin-bottom: 2rem;
}
.justify-content-space-between {
	justify-content: space-between;
}
.h-100 {
	height: 100%;
}
.pr-075 {
	padding-right: 0.75rem;
}
.pl-075 {
	padding-left: 0.75rem;
}
.flex-wrap {
	flex-wrap: wrap;
}
.mb-05 {
	margin-bottom: 0.5rem;
}

.mb-15 {
	margin-bottom: 1.5rem;
}
